body {
  background-color: violet;

  & .pagina {
    background-color: aliceblue;
    margin: 0 auto;
    width: 1250px;
    height: 100%;
    padding: 50px;

    & #titulo {
      color: violet;
      text-align: center;
      position: relative;
      top: 10px;
    }

    & #subtitulo {
      text-align: center;
      color: gray;
    }

    & .ejercicio {
      color: violet;
    }

    & .hr {
      width: 100%;
      background-color: blue;
    }
  }
}

.cards {
  margin-top: 50px;
  width: 100%;
  height: 275px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;

  & .card {
    border-radius: 12px;
    width: 250px;
    overflow: hidden;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-out;

    & .imagen {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: blue;

      & img {
        width: 150px;
      }
    }

    & .contenido {
      background-color: aliceblue;
      height: 170px;
      margin-top: -15px;

      & p {
        text-align: center;
      }
    }

    &:hover {
      scale: 1.1;
      transform: translateY(-10px);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);

      &:hover .contenido {
        transition: all 0.3s ease-in-out;
        background-color: antiquewhite;
      }
    }
  }
}

.botones {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;

  & #Transicio {
    background-color: #3498db;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: #2980b9;
    }
  }

  & #Rotacio {
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.6s ease-in-out;

    &:active {
      transform: rotate(360deg);
    }
  }

  & #escala {
    background-color: green;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;

    &:active {
      scale: 0.95;
    }
    &:hover {
      scale: 1.2;
    }
  }

  & #combo {
    background-color: violet;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: orangered;
      transform: rotate(5deg);
      scale: 1.1;
    }
  }
}

.pelota {
  margin: 0 auto;
  margin-top: 25px;
  width: 100px;
  height: 100px;
  background-color: pink;
  border-radius: 100%;
  animation: pulso 1.5s infinite ease-in-out;
}

@keyframes pulso {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.menu {
  background-color: rgba(124, 122, 122, 0.6);
  padding: 10px;
  & .ulmenu {
    display: flex;
    gap: 30px;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    align-items: center;
    & li {
      transition: all 250ms ease-out;

      & .linia {
        visibility: hidden;
        border-bottom: 1px solid blue;
        width: 0px;
      }

      &:hover {
        color: blue;
        cursor: pointer;

        &:hover .linia {
          transition: all 250ms ease-out;
          visibility: visible;
          width: 100%;
        }
      }
    }
  }
}

.loading1 {
  margin: 0 auto;
  width: 75px;
  height: 75px;
  border-top: 2px solid blue;
  border-radius: 100%;
  animation: loader 1s infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(75deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(250deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
